@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300&family=Oswald&display=swap");

:root {
  --primary: ;
  --secondary: rgb(73, 140, 240);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url(img/bg1.png);
  background-repeat: no-repeat;
  background-size: auto 1000px;
  height: 10000px;
}

/* nav  start*/
.nav-item {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.nav-item .active {
  border-bottom: 1px solid #000;
}
.link_nav:hover {
  transform: scale(1.05);
}
.nav-item .active:hover {
  transform: scale(1);
}
.btn_getstart,
.btn_detail {
  border-radius: 15px;
  font-size: 12px;
}

/* nav end  */
.wov:hover {
  color: #3791db;
  cursor: pointer;
}
.land_pg {
  height: 600px;
}

.row_2 {
  margin-top: 200px;
}

.hr {
  width: 30%;
  margin: 10px auto !important;
  border-top: 2px solid var(--secondary);
  background-color: #fff;
}
.rdmore {
  text-decoration: none;
  color: #000;
}
.about h4 {
  cursor: pointer;
}
.about h4:hover {
  color: var(--secondary);
}

.card:hover {
  border: 1px solid var(--secondary);
}

.aline {
  height: 120px;
}

.aline .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
.aline .rounded-circle:hover {
  color: var(--secondary);

  background-color: #fff !important;
  border: 1px solid rgb(57, 55, 78);
}
.aline .p {
  font-size: 13px;
}
